/*sredniki i klamerki*/

/*hero*/
.hero {
    padding-top: 40px;
    padding-bottom: 200px;
    background-image: url("334761397_971325897099761_6204686148148004613_n.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-heading {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
}

.header-link {
    font-size: 24px;
    font-family: 'Grandstander';
    color: rgb(255, 255, 255);
    text-align: center;
}

/*about*/
.about-image-wrapper {
    position: relative;
    max-width: 400px;
}

@media (max-width: 960px) {
    .about-image-wrapper {
       max-width: 300px;
    }
}
  
.about-image-wrapper::after {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: #250606;
    border-radius: 8px;
    z-index: -1;
}
  
.about-image-wrapper::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
    height: 100%;
    background: #000000;
    border-radius: 8px;
    z-index: -1;
}
.section-about {
    padding-top: 75px;
    padding-bottom: 75px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

@media (max-width: 960px) {
    .section-about {
        flex-direction: column;
        justify-content: center;

    }
}

.about-heading {
    font-size: 25px;
    color: #000;
    font-family: 'Caveat';
}

.about-image {
    border-radius: 10px;
    max-width: 100%;
}


.about-text {
    font-size: 20px;
    color: #000;
    font-family: 'Caveat';
}

/*quote*/

.section-quote{
    text-align: center;
    background-color: rgb(249, 227, 201);
    padding: 15px;
}

.quote{
    font-family: 'Dancing script';
    font-size: 50px;
}

.quote-autor{
    font-family: 'Dancing Script';
    font-size: 20px;
}


/*photos*/

.section-photos {
    padding-top: 100px;
    padding-bottom: 150px;
}
  
.photos {
    margin-top: 50px;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.photos-heading {
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Caveat';
    text-align: center;
}
  
  
.figure {
    max-width: 30%;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.figure-image {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    object-fit: cover; 
     
}


/* 
button {
  background-color: pink;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  border: 1px solid red;
  border-radius: 10px;
}
*/